<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body>
    {{ end }}
    
        <div class="container">
            {{ partial "header.html" . }}
            {{ if .IsHome }}
                <div class="home-image">
                    <img src="/images/profile.jpg" alt="Home Image">
                </div>
            {{ end }}
            <div class="content">
                {{ block "main" . }}{{ end }}
                {{ if .IsHome }}
                    {{ partial "custom-block.html" . }}
                {{ end }}
            </div>       
            
            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
